:root {
  --color-primary: #0D1164;   /* Purple */
  --color-secondary: #26667F; /* Gold */
  --color-accent: #DC143C;    /* Crimson */
  --color-bg: #F6F1E9;        /* Black */
  --color-text: #934790;      /* Gray */
  --color-tiles: #F6F1E3; /* Dark Gray */
}

/* Optional: future dark theme */
[data-theme="dark"] {
  --color-primary: #1E1E2F;
  --color-secondary: #EFB914;
  --color-accent: #E04E4E;
  --color-bg: #000000;
  --color-text: #CCCCCC;
  --color-tiles: #c53d3d; /* Dark Gray */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

